@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    box-sizing: border-box;
    line-height: 1.6;
}
form{
    background-color: #fff;
    padding: 50px;
    border-radius: 20px 50px ;
    box-shadow: 30px 30px 16px rgba(65, 6, 99, 0.1);
}
legend{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

fieldset{
    border-right:none;
    border-left:none;
    border-top:none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"]
{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.message-fieldset > .form-group{
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}




#message{
    border: 1px solid #D6D9DC;
    border-radius: 3px;
     width: 50%;  /* da sistemare non cosi manualmente */
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
    margin-left:25px;
}
input[type="color"],
select,
input[type="radio"]{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.form-group > input[type="color"]{
   padding: 0;
   margin-top:30px;
   margin-bottom:20px;
}

.form-group-radio,
.form-group-range{
    margin:20px;
    margin-left :0;
    display: flex;
    justify-content: space-between;
}

input[type="submit"]{
    background-color: #600ebd;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #720bf8;
}
input[type="submit"]:active{
    background-color: #d606ff;
}


input[type="checkbox"]{
    margin-right: 10px;
    padding: 50px;
}

.footer > .form-group{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="checkbox"]{
    margin-left: 10px;
    
}
.button-icon{
    margin-left: 20px;
    color: #600ebd;
}